Django==1.4.3
MySQL-python==1.2.4
PIL==1.1.7
boto==2.9.3
Pillow==1.7.8
RapidSMS==0.9.6a
South==0.7.6
agon-ratings==0.2
argparse==1.2.1
dj-database-url==0.2.1
django-appconf==0.5
django-compressor==1.2
django-debug-toolbar==0.9.4
django-extensions==1.0.1
django-guardian==1.0.4
django-nose==1.1
django-pagination==1.0.7
django-phonenumber-field==0.2a3
django-quickblocks==0.9.1
django-ratings==0.3.7
django-reversion==1.7
django-storages==1.1.8
django-templatetag-sugar==0.1
djappsettings==0.1.0
djtables==0.1.2
gunicorn==0.17.2
nose==1.2.1
-e git+http://github.com/nyaruka/nsms.git@bb92e2712112a38dbf85f1ff95ddef3a20757c33#egg=nsms-dev
phonenumbers==5.2b1
psycopg2==2.5
python-memcached==1.48
pytz==2012g
rapidsms-httprouter==2.0.4
smartmin==1.4.1
sorl-thumbnail==11.12
wsgiref==0.1.2
yolk==0.4.3
