{% extends "public_base.html" %}
{% block order-content %}




<div class="container"  style="background:none; width:1000px;">

 <p class= "lead" style="color: #646464; padding-top: 20px;">Click an item to order.</p>
<br />

 {%for category in categories %}
 
<span style="width:30%; float:left; height:300px; margin-left:10px;margin-top:10px;">
	 <h5 style="background:#f36c00; padding:5px; margin-bottom:10px; 0px;color:#fff; width:300px; text-align:center;">{{category.title}}</h5>
	 {% for item in category.item.all %}
	 <span style="float:left; width:200px;">
	 	<a href="" style="">{{item.name}}</a><br>
	</span>
	<span style="float:right; width:100px; color:#333;">
	 	{{item.price}}<br>
	</span>
	{% endfor %}
</span>

{% endfor %}

</div>
<div style="clear:Both;"></div>
{% endblock %}

