{% extends "public_base.html" %}
{% block order-content %}




<div class="container">
<div style="clear:Both;"></div>
 <p class= "lead" style="color: #646464; padding-top: 20px;">Click an item to order. The site does not handle group orders well currently, for a group order(i.e more than one order) just please email it <a href="{% url 'contact_us' %}">here.</a></p>
<br />

{% for category in categories %}
 <h5 id="category_box"style=""> {{ category.title }} </h5>
  {% for item in category.item.all %}
  <ul style="padding: 0 0 0 0px;">
   <li id="item_appearence" style="font-size: 30px; color: #888888;"><a data-toggle="modal" href="{% url 'item_order' item.id %}" rel="tooltip" title="{{item.description}}" id="example">{{item.name}}
   {% if item.price %}
    <span id="price_appearence" style="font-size: 25px;"> {{item.price}}frw</span></li><a/>
   {% else %}
    <span id = "price_appearence" style= "font-size: 25px;"> <span></li></a>
  </ul>
   {% endif %}
  {% endfor %}
{% endfor %}
</div>
<div style="clear:Both;"></div>
{% endblock %}

