<!DOCTYPE html>
<html>
 <head>
  <title>{% block title %}{% endblock %}</title>
  {% block styles %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}maincss/main.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}maincss/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}maincss/impress.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}maincss/impression.css">
  
  {%endblock %}
 </head>
 <body>
{% block content %}

 <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
{% endblock %}

 
 <div class="navbar navbar-inverse">
   <div class="navbar-inner">
    <ul class="nav nav-pills">
    <li><a class="brand" href="#">F4L</a></li>
    {% if perms.users.user.is_authenticated %}
     <li class=""><a href="{% url users.user_logout %}">Logout</a></li>
    {% else%}
     <li class=""><a href="{% url users.user_login %}">Login</a></li>
    {% endif%}
    <li class="divider-vertical"></li>
     <li class=""><a href="#">Contact Us</a></li>
     <li class="divider-vertical"></li>
     <li><a href="#">FAQ</a></li>
     <li class="divider-vertical"></li>
     <li><a href="#">Company</a></li>
    </ul>
   </div><!--end .nav-->
 </div><!--end #header-->
 
 <div class="container">
  {% block order-content %}
   <p style="color: black;">nejrngljkrnglkj</p>
  {% endblock %}
 </div><!--end #-->
 
 <div id="content-wrapper">
 
  <div id="side-bar">
   sidebar content
  </div>
 </div><!--end-->
 
<div id = "">
</div><!--end#footer-->
 
 

 </body>
</html>
