<!DOCTYPE html>
<html>
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}FoodCourt | Have it easy{% endblock %}</title>
  {% block styles %}
  <link rel="icon" href="{{ STATIC_URL }}img/new_fav.png" type="img/png">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}mainc/main.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}mainc/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}mainc/style.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}mainc/impress.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}mainc/impression.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}mainc/semantic.css">
  
  <!-- javascript -->
  
  
  {%endblock %}
 </head>
 <body>
{% block content %}
{% endblock %}

 {% load smartmin %}
<div id="logo" style="padding-left: 25px;">
 <a href="">
  <img src="{{STATIC_URL}}img/" />
 </a>
</div>
 <nav class="navbar navbar-default" style="margin-bottom: 0p; background:#f36c00;">
   <div class= "navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-ex1-collapse">
      <span class="sr-only">blah blah</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
   </div>
   
   <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav pull-right" style="margin-right: 53px;">
     
     <li><a id="lettering" style="float: Left;" href="{% url 'homepage'%}">Home</a></li>
     <li><a id="lettering" style="float: Left;" href="{% url 'how_it_works' %}">How It Works</a></li>
     <li><a id="lettering" style="float: Left;" href="{% url 'contact_us' %}">Contact Us</a></li>
     {% if perms.orders.recievedorder_list %}
     <li><a id="lettering" href="{% url 'orders.recievedorder_list' %}">Admin</a></li>
     {% endif %}
     {% if request.user.is_authenticated %}
      <li><a id="lettering" href="{% url 'users.user_logout' %}">Logout</a></li>
     {% else %}
     <li><a id="lettering" href="{% url 'users.user_login' %}">Login</a></li>
     {% endif %}
    </ul>
   </div><!--end .nav-->
 </div><!--end #header-->
</nav>
 <div style="clear: both;"></div>
  {% block order-content %}
  {% endblock %}
 
 
 <div style="clear: both;"></div>
 
  <script type="text/javascript" src="//code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
  <link type="text/javascript" href="{{ STATIC_URL }}js/semantic.js">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js"></script>
 

 </body>
</html>
	
