{% extends "public_base.html" %}



{% block order-content %}
<h3 class="category_head">Checkout</h3>{% if error_message %}
 <ul class="errorlist">
  <li>{{ error_message }}</li>
 </ul>
{% endif %}
<br />
<div>
 <p class="lead" style="color: #40637f;">Making Payments to F4L</p>
 <br />
 <p class="wording">F4L accepts payments through MTN mobile money and Tigo cash Services.More services coming up</p>
 <br />
 <p class="wording">Your Order is <strong style="color: #40637f;">{{total}}</strong>. Pay this amount to 078###### for MTNMobile Money or 072###### for Tigo cash. </p>
 <br />
 <p class="wording">You and F4L will receive an SMS notification of the transaction details.If phone number used to make this payment is not your personal phone number please let us know and provide it in the Additional information field below.</p>
</div>
<br />
<p class="wording lead">Klab Coffee bar is accepting payments by hand..For pickup orders,please ignore the necessary fields in the form below.</p>
<br />
 <form action="" method = "post">
   <legend class="category_head">Contact & Order information</legend>
   <fieldset>
   <table style="background-color: #40637f;"class="">
    {{ form.as_table}}
   </table>
   </fieldset>
  <br />
  <table>
  <tr>
  <form method="post" action="">
   {% csrf_token %}
   <th colspan="2">  
    <input name="submit" type="submit" value="complete order" class="btn" />
   </th>
  </form> 
  </tr>
  </table>
 </form>    
 
{% endblock %}
