{% extends "public_base.html"%}
{% block order-content %}
 <p style="padding-top: 50px;" class="wording lead">Your F4L order has been placed..hooray!!<br /><br />
  Your Order Number is: {{ order.id }}
 </p>
 <p class="wording lead">Take note of your order Number, useful when picking up order and incase of any complaints.</p>
 <br />
 <p class="wording lead"> For any comments,opinions or words of encouragement reach us via our twitter handle @Food4LessRw...</p>
 <br />
 
 <p class=" text-center wording lead">Thank you.. Stay Awesome.</p>

{% endblock %}    
