{% extends "public_base.html"%}
{% block order-content %}
<div style="background-color: #ffa540; height: 1005px;">
 <div class="container">
 <h3 class="category_head" style="padding-top: 20px; text-align: center;">Order Complete.</h3>
 <p style="padding-top: 50px;" class="wording lead">Your order has been placed. Hooray!<br /><br />
  Your Order Number is: {{ order.id }}
 </p>
 <p class="wording">Take note of your Order Number, useful when picking up order and incase of any complaints.</p>
 <br />
 <p class="wording"></p>
 <br />
 
 <p class=" text-center wording lead">Thank you and Stay awesome.</p>
 </div>
</div>
{% endblock %}    
