{% extends "public_base.html"%}
{% block order-content %}
 <h3 class="category_head">Order Complete</h3>
 <p style="padding-top: 50px;" class="wording lead">Your F4L order has been placed. Hooray!<br /><br />
  Your Order Number is: {{ order.id }}
 </p>
 <p class="wording">Take note of your Order Number, useful when picking up order and incase of any complaints.</p>
 <br />
 <p class="wording">For any comments, opinions or words of encouragement, you can reach us via our Twitter handle <a href="http://twitter.com/Food4LessRW">@Food4LessRw</p></a>
 <br />
 
 <p class=" text-center wording lead">Thank you. Stay awesome.</p>

{% endblock %}    
