{% extends "public_base.html" %}

{% block order-content %} 
<div style="background-color: #ffa540; height: 1005px;">
 <div class="container">
  <h3 class="category_head" style="padding-top: 20px;">Contact Us.</h3>
  <h5 style="color: #646464;margin-left: 15px; font-size: 15px;">Call +250785559899 incase of urgency OR message us below otherwise.</h5>
  <form action="" method="post">{% csrf_token %}
   {{ form.as_p}}
   <input class="btn btn-large btn-success" type="submit" value="send" />
  </form>
 </div>
</div>
{% endblock%}
