{% extends "public_base.html" %}

{% block order-content %}
<div id="ordering-content-wrapper">
 <div id="resto-search" class="frontbox searchbox">
  <h2 class="headin"> START YOUR ORDER</h2>
  <form style="position: absolute;" method="get" action="{% url search %}">
 <div class="radio-button">
  <ul>
   <li id="DeliveryOption" style="float: left; color: #163F5E;
   ;">
    <input id="DelivrySelectionOption" type="radio" checked="checked" value="D" name="deliveryType" /> Delivery
   </li>
   <li id="PickupOption" style="color: #163F5E; margin-left: 300px;">
    <input id="PickupOptionSelection" class="" type="radio" value="P" name="deliveryType" /> Pickup
   </li>
  </ul>
  <br>
  <div style="padding-left: 40px;">
   <input class="input-xxlarge" type="text" name="q" placeholder="search by location e.g,Kacyiru" />
   <br>
   <button class="btn btn-large btn-primary" type="submit">
    <div class="text status">Search</div>
   </button>
  </div>
 </div> 
  </form>
 </div>
 <div id="message-box" class="frontbox searchbox">
  <h2 class="headin"> WELCOME MESSAGE </h2>
  <p style="color:#888888; padding-right: 40px;padding-left: 40px;">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi."</p>
 </div>
</div>

<p> join in</p>

{% endblock %}
