{% extends "public_base.html" %}


 {% block order-content %}
 <div id="home_page" class="back_splash">
  <div class="container">
   <div id="message-box" class="frontbox searchbox" style=" height: 220px; background-color: #FFFFFF;">
    <h2 id="message-box_heading">START YOUR ORDER</h2>
    <br>
    <form style="top: 10px;"method="get" action="{% url 'search' %}">
     <div class="radio-button">
      <ul>
       <li style="float: left; color: #626262";>
        <input id="DelivrySelectionOption" type="radio" checked="checked" value="D" name="deliveryType" /> Delivery
       </li>
       <li style="margin-left: 300px; color: #626262;">
        <input id="PickupOptionSelection" type="radio" value="P" name="deliveryType" /> Pickup
       </li>
      </ul>
      <br />
      <br />
      <div style="padding-left: 65px; margin-top: -20px;">
       <input class="input-md col-lg-*" type="text" name="q" placeholder="search by resto or location">
       <button class="btn btn-md btn-warning" type="submit">
        <div class="text status">Search</div>
       </button>
      </div>
     </div>
    </form>
   </div>
   <div id="tag_line" style="width: 650px;">
    Kigali's favourite restos in one place.
   </div>
   <div id="hw_it_wrks">
   </div>
  </div>
 </div>
 {% endblock %}

