{% extends "public_base.html" %}

{% block order-content %}
<div >
  <h5 style="color: #646464; text-align: center; padding-top: 100px; font-size: 40px;"> Make your order in 3 simple steps...</h5>
</div>
<br />
<div>
 <h5 style="color: #646464;margin-left: 15px; font-size: 20px;">1. Search Restaurant.</h5>
 <br />
 <p style="color: #646464; margin-left: 35px;"> Search for desired restaurant by name <i style="color: #646464; font-style: italic;">e.g Meze Fresh</i> or by location for a list of restaurants in that location<i style="color: #646464; font-style: italic;"> e.g Kacyiru.</i></p>
 <br />
 <h5 style="color: #646464;margin-left: 15px; font-size: 20px;">2. Build your order.</h5>
 <br />
 <p style="color: #646464; margin-left: 35px;"> Build your order from the menu provided by your desired restaurant.</p>
 <br />
 <h5 style="color: #646464;margin-left: 15px; font-size: 20px;">3. Complete Order</h5>
 <br />
 <p style="color: #646464; margin-left: 35px;"> Complete our Contact and Order Form, a short form collecting basic information useful in identifying who the order belongs to.</p>
 <br />
 <h5 style="color: #646464; margin-left: 370px; padding-top: 40px; font-size: 29px;"> Enjoy your meal.</h5>
 
</div>
{% endblock %}
