{% extends "public_base.html"%}
{% block order-content %}
<div >
  <h5 style="color: #646464; text-align: center; padding-top: 70px; font-size: 40px;"> Notice!!!</h5>
</div>
<br/>
<p class="lead" style="color: #646464; margin-left: 15px;">Five days through our Beta testing and we are learning so much. For instance we have learnt there is a nasty bug that we missed in the initial testing phase. Therefore we have put the application down so we can fix this.</p>
<br />
<p class="lead" style="color: #646464; margin-left: 15px; font-weight:bold;"> But that's no reason <span class="lead" style="color: #646464">you should miss out on your meal, we are still doing the MezeFresh delivery, <span class="lead" style="color: #646464; font-weight: Bold;">SMS us your order +250785559899</span>. Below is a static MezeFresh Menu for reference purposes. Sorry for the incoveniences thank you for your patience.</p>
<div style="color: #646464; float: left;width:500px;height:90px;">
<p style="color: #646464; margin-left: 35px; font-size: 25px; font-weight:bold;"> Choose a Dish.</p>
<ul>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Meze Burrito</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Meze Burrito Bowl</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Meze Salad</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Meze Tacos Crispy</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Meze Tacos Soft</li>
</ul>

<p style="color: #646464; margin-left: 35px; font-size: 25px; font-weight:bold;">Choose a protein | <span style="font-size: 15px; color: #888888;"> Be sure to mention what should be included rice,beans,veggies or mushrooms.</span></p>
<ul>
<li id="item_appearence" style=" font-size: 20px;color:#888888;"> Steak 3800</li>
<li id="item_appearence" style=" font-size: 20px;color: #888888;"> Chicken 4000</li>
<li id="item_appearence" style=" font-size: 20px;color: #888888;"> Pork 4000</li>
<li id="item_appearence" style=" font-size: 20px;color: #888888;"> Veggie 2800</li>
<li id="item_appearence" style=" font-size: 20px;color: #888888;"> Goat 3500</li>
</ul>

<p style="color: #646464; margin-left: 35px; font-size: 25px; font-weight:bold;"> Extras.</p>
<ul>
<li id="item_appearence" style=" font-size: 20px;color:#888888;"> Sour Cream 400frw</li>
<li id="item_appearence" style=" font-size: 20px;color: #888888;"> Extra Meat 1000frw</li>
<li id="item_appearence" style=" font-size: 20px;color: #888888;"> Chips w/ Meal 500frw</li>
</ul>

<p style="color: #646464; margin-left: 35px; font-size: 25px; font-weight:bold;"> Drinks.</p>
<ul>
<li id="item_appearence" style=" font-size: 20px;color:#888888;"> Water 600frw</li>
<li id="item_appearence" style=" font-size: 20px;color: #888888;"> 7up take away 1000frw</li>
<li id="item_appearence" style=" font-size: 20px;color: #888888;"> Pepsi take away 1000frw</li>
<li id="item_appearence" style=" font-size: 20px;color: #888888;"> Mountain Dew take away bottle 1000frw</li>
<li id="item_appearence" style=" font-size: 20px;color: #888888;"></li>
</ul>

</div>
<div style="color: #646464; float:right; width:600px;height:90px;">
<p style="color: #646464; margin-left: 35px; font-size: 25px; font-weight:bold;"> Side Dishes.</p>
<ul>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Chips & salsa 1000frw</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Single Tacos Crispy 2000frw</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Single Tacos Soft 2000frw</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"></li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"></li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"></li>
</ul>

<p style="color: #646464; margin-left: 35px; font-size: 25px; font-weight:bold;"> Topping Bar.</p>
<ul>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Cheese</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Cabbage</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Guacamole</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Pineapple Salsa</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Pico de gallo</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Avocado & cilantro lime cream sauce</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Medium Salsa</li>
<li id="item_appearence" style="font-size: 20px; color: #888888;"> Hot Salsa</li>
</ul>
</div>



{% endblock%}
