{% extends "public_base.html" %}
{% block order-content %}

<div class="alert">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
  The site uses cookies,incase you don't complete order it will keep this information.
</div>
<div style="top: 50px;">
 <p style="color: #888888;">Order more food <input type="submit" class="btn" value="Here" onClick="javascript:history.go(-2);"></p>
</div>
<br />

<table class="table table-hover" summary="Your menu order">
   <caption class="category_head">Your F4L Order</caption>
   <thead>
    <tr>
     <th style="color: #40637f;"scope="col">Item</th>
     <th style="color: #40637f;"scope="col">Price</th>
    </tr>
   </thead>
   <tfoot>
   <tr>
    <th style="color: #40637f;" colspan="2">
     Order Subtotal:
    </th>
    <th style="color: #40637f;">
    {{order_subtotal}}<span style="color: #888888;"> frw</span>
    </th>
   </tr>
   <tr>
     <th style="color: #40637f;"colspan="2">
      Order Total:
     </th>
     <th style="color: #40637f;" colspan="2">
      {{total}}<span style="color: #888888;"> frw, inclusive of the service fee {{item.owner.service_fee}} that is {{ item.owner.service_type }}.</span>
     </th>
   </tr>
   {% if order_items %}
   <tr>
    <th class="" colspan="2">
     <form method="post" action=".">
      {% csrf_token %}
      <input type="submit" class="btn" name="submit" value="checkout" alt="checkout" />
     </form> 
    </th>
   </tr>
   {% endif %}
   </tfoot>
   <tbody>
    {% if order_items %}
     {% for item in order_items %}
    <tr style="margin: 0px;">
     <td style="color: #888888;">
 
       {{ item.item.name }}
    
     </td>
     <td style="color: #888888;">{{ item.item.price }}<span style="color: #888888;"> frw</span></td>
     <td>
      <form class="" method="post" action=".">
       {% csrf_token %}
       <input type="text" name="quantity" value="{{ item.quantity }}" id="quantity" size="" class="input-small" max_length="" />
       <input type="hidden" name="item_id" value="{{ item.id }}" />
     </td>
     <td>
      <input type="submit" class="btn" name="submit" value="Update" />
      </form>
     </td>
     <td>
     <form method="post" action="." class="">
      {% csrf_token %}
     <input type="hidden" name="item_id" value="{{ item.id }}" />
     <input type="submit" class="btn" name="submit" value="Remove" />
     </form>
     </td>
    </tr>
     {% endfor %}
     {% else %}
    <tr>
    <td colspan="2" style="height:30px;">
     Your F4L order is empty.
    </td>
    </tr>
    {% endif %}
   </tbody>
</table>
{% endblock %}
