{% extends "public_base.html"%}
{%load thumbnail%}
{%block order-content%}
<div >
  <h5 style="color: #646464; text-align: center; padding-top: 70px; font-size: 40px;"> Restaurants On FoodCourt.</h5>
</div>
<br />
<p class="lead" style="color: #646464; margin-left: 15px;">This list is ever growing, we are in talks with more restaurants.</p>
<br />
{%for restaurant in restaurants%}
<div class="full_events">
    <div class="event_main">
     <div class="event_image">
      {% thumbnail restaurant.logo "100x110" crop="center" as im%}
       <img src="{{im.url}}" />
      {% endthumbnail %}
     </div>
     <div class="event_details">
      <table width="100%" cellspacing="" cellpadding="" border="0">
       <tr>
        <td colspan="2" class="category_head"><a style="color: #;"href="{% url 'f4l_menu' restaurant.id %}">{{ restaurant.restaurant_name}}</a></td> 
       </tr>
       <tr>
        <td class="" style="color: #646464">Service time </td>
        <td class="left" style="color: #646464">{{ restaurant.service_hours_start}} to {{ restaurant.service_hours_end }}</td>
       </tr>
       <tr>
        <td style="color: #646464;">Address</td>
        <td class="left" style="color: #646464;">{{restaurant.address}}</td>
       </tr>
      </table>
     </div>
    </div>
   </div> 
 </div>
{% endfor %}
{%endblock%}
