{% extends "public_base.html" %}
{% load thumbnail %}
{% load url from future %}
{% block order-content %}
<div class="clear"></div>
<div class="results-area" style="position: static;">
 <div id="white-sep" class="white-sep" style="dipslay: none;"></div>
 <div id="background" style="height: 415px;margin-top:30px;">
  {% if found_entries %}
   <p style="color: #888888"> You searched for restaurants in {{ query_string }}.</p>
   <br />
   {% for restaurant in found_entries %}
   <div class="full_events">
    <div class="event_main">
     <div class="event_image">
      {% thumbnail restaurant.logo "100x110" crop="center" as im%}
      <img src="{{im.url}}" /> 
      {% endthumbnail%}
     </div>
     <div class="event_details">
      <table width="100%" cellspacing="" cellpadding="" border="0">
       <tr>
        <td colspan="2" class="category_head"><a href="{% url 'f4l_menu' restaurant.id %}">{{ restaurant.restaurant_name}}</a></td> 
       </tr>
       <tr>
        <td class="" style="color: #888888;">Location</td>
        <td class="left" style="color: #888888;">{{restaurant.address}}</td>
       </tr>
       <tr>
        <td class="" style="color: #888888;">Service Time:</td>
        <td class="left" style="color: #888888;">{{ restaurant.service_hours_start}} to {{ restaurant.service_hours_end }}</td>
       </tr>
       <tr>
        <td class="" style="color: #888888">Services offered in: </td>
        <td class="left" style="color: #888888">{{restaurant.delivery_territory}}</td>
       </tr>
      </table>
     </div>
    </div>
   </div> 
 </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
