{% extends "public_base.html" %}
{% load thumbnail %}
{% load url from future %}
{% block order-content %}
<div class="clear"></div>
 <div class="container">
  {% if found_entries %}
   <p class="lead" style="color: #646464; margin-bottom: 20px; padding-top: 20px;"> Click restaurant to view menu.</p>
   <br />
    <div class="alert alert-warning">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
      Please take note of the Service Time.
    </div>
   {% for restaurant in found_entries %}
   <div class="full_events">
    <div class="event_main">
     <div class="event_image">
      {% thumbnail restaurant.logo "100x110" crop="center" as im%}
       <img src="{{im.url}}" />
      {% endthumbnail %}
     </div>
     <div class="event_details">
      <table width="100%" cellspacing="" cellpadding="" border="0">
       <tr>
        <td colspan="2" class="category_head"><a style="color: #;"href="{% url 'f4l_menu' restaurant.id %}">{{ restaurant.restaurant_name}}</a></td> 
       </tr>
       <tr>
        <td class="" style="color: #888888;"></td>
        <td class="left" style="color: #888888;"></td>
       </tr>
       <tr>
        <td class="" style="color: #646464;">Mobile</td>
        <td class="left" style="color: #646464;">{{ restaurant.mobile}}</td>
       </tr>
       <tr>
        <td class="" style="color: #646464">Service time </td>
        <td class="left" style="color: #646464">{{ restaurant.service_hours_start}} to {{ restaurant.service_hours_end }}</td>
       </tr>
       <tr>
        <td style="color: #646464;">Address</td>
        <td class="left" style="color: #646464;">{{restaurant.address}}</td>
       </tr>
       {% if restaurant.closed %}
       <tr>
        <td style="color: Red;">Sorry foodcourt had to close early to fix a glitch in the system. we are really sorry for the incovenience, we know you love your Meze burritos and we do to.</td>
       </tr>
       {% endif %}
      </table>
     </div>
    </div>
   </div> 
 </div>
{% endfor %}
{% endif %}
{% if query_string and not found_entries %}
 <div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
      No results found. Please search by restaurant name or location.
 </div> 
{% endif %}
{% endblock %}
