#f4lheader{
	border-bottom: 1px solid
	#E5F1FF;
	position: relative;
}
.bizborder{
	height: 53px;
}
.f4lcentered{
	margin: 0 auto;
	text-align: center;
	width: 966px;
	
}
#accountholder{
	margin-left: 0;
	margin-top: 10px;
}
.signed-out{
	display: inline-block;
	margin-left: 5px;
}
.clear{
	clear: both;
}
.results-area{
	bottom: 0;
	left: 0;
	position: static;
	right: 0;
	top: 25px;
	z-index: 1;
}
#white-sep{
	display: none;
}
.white-sep{
	background-color: white;
	border-bottom: 1px solid
	#B&CFDF;
	height: 10px;
}
#background{
	-moz-user-select: none;
	background: -moz-linear-gradient(-81deg, #90CCCC,#90CCCC) repeat scroll 0 0 transparent;
	height: 1400px;
	padding-bottom: 193px;
	position: relative;
}
#background .centered{
	position: relative;
	width: 500px;
	z-index: 3;
}
.centered{
	margin: 0 auto;
	width: 1100px;
}
#front-spacer{
	height: 100px;
}
#resto-search{
	-moz-user-select: none;
	height: 300px;
	float: none;
	margin: 0;
	position: absolute;
	top: 120px;
	width:468px;
	z-index: 2;
}
.searchbox{
	filter: none;
	position: relative;
}
.frontbox,.searchbox{
	-moz-box-sizing: border-box;
	background-color: #e3e4e4;
	border:1px solid #94C1FF;
	border-radius: 12px 12px 12px 12px;
/*	box-shadow: 0 0 5px #94C1FF;*/
}
.searchbox .icon-holder{
	-moz-user-select: none;
	background-color: #163F5E;
	border-radius: 50% 50% 50% 50%;
	height: 38px;
	left: 50%;
	line-height: 38px;
	margin-left: -19px;
	position: absolute;
	top: -19px;
	width: 38;
}
.searchbox .icon-holder .front-foodicon{
	background-image: url("");
	background-position: -2930px 0;
	background-repeat: no-repeat;
	height: 17px;
	left: 50px;
	margin-left: -8px;
	margin-top: -8.5px;
	position: absolute;
	top: 50%;
	width: 18px;
}
.icon-holder-shadow{
	background: none repeat scroll 0 0 transparent;
	border-radius: 38px 38px 0 0;
	height: 19px;
	left: 50%;
	margin-left: -19px;
	position: absolute;
	top: -19px;
	width: 38px;
	z-index: -1;
}
.searchbox .headin{
	-moz-user-select: none;
	color: #163F5E;
	font-family: 'Open sans condensed',sans-serif;
	font-size: 30px;
	font-weight: bold;
	padding: 20px 0;
	text-align: center;
.search-form-wrapper{
	bottom: auto;
	left: 0;
	position: absolute;
	right: 0;
	top: 60px;
}
button{
	margin: 0;
	padding: 2px 6px 3px;
}
.searchbutton{
	background: -moz-linear-gradient(center top, #FF6F00 0%, #ED6700 100%) repeat scroll 0 0 transparent;
	border: 1px solid #E36300;
	box-shadow: 0 1px 1px #994300, 0 1px 0 #FFBB87 inset;
	margin: 0 auto; 
}
.searchbutton{
	color: white;
	display: inline-block;
	font-size: 18px;
	height: 42px;
	padding: 0 18px;
	text-align: center;
}
#resto-adverts{
	-moz-user-select: -moz-none;
	height: 300px;
	left: 0;
	margin: 0;
	position: absolute;
	top: 120px;
	width: 468px;
	z-index: 2;
}
#f4lfooter-wrapper{
	background-color: white;
	bottom: 0;
	left: 0;
	padding-top: 42px;
	position: absolute;
	right: 0;
	top: 193px;
}
#f4lfooter-wrapper #f4lfooter{
	padding-left: 80px;
}
#f4lfooter{
	color: #7295B5;
	margin: 42px auto:
	min-height: 200px;
	width: 900px;
}
#f4lfooter .logoholder{
	color: inherite;
	float: left;
	padding-top: 12px;
	text-decoration: none;
}
.f4llogo{
	background-image: url();
	background-position: 0 -1583px;
	background-repeat: no-repeat;
	float: left;
	height: 33px;
	width: 119px;
}
#f4lfooter .logoholder .legal{
	margin-top: 40px;
}
#f4lfooter .linkholder{
	float: right;
	padding-right: 34px;
}
.f4llinks{
	float: left;
	margin-right: 30px;
	margin-top: 2px;
	width: 120px;
}
.f4llinks .f4ltitle{
	border-bottom: 1px solid #94AEBf;
	color: #7295B5;
	font-size: 12px;
	margin-bottom: 7px;
	padding-bottom: 1px;
	width: 90px;
}
.f4llinks li{
	margin-left: 5px;
}

